// 常用尺寸
$radius = 10px
$margin = 20px
$width-container = 1200px

// 常用配色
$color-title = #384452
$color-text = #262626
$color-note = #6b7074
$color-desc = #959595
$color-border = #f0f0f0
$color-mask = rgba(0,0,0,0.4)

$color-black = #272822
$color-white = #fff
$color-yellow = #e6b93b
$color-blue = #1890ff
$color-green = #4caf50
$color-red = #ec4747
$color-orange = #ff7811
$color-gray = #f7f7f7

// 公共样式
.ex-clear {
  content ""
  display table
  clear both
}
.ex-img {
  width 100%
  height 100%
  object-fit cover
}
.ex-bg {
  background-size 100% 100%
  background-position center center
  background-repeat no-repeat
}