@import "config"

html input, html select, html textarea
  outline none
  border 0

body, ul, li, p, h2, figure
  padding 0
  margin 0

ul, ol, li
  list-style none

html, body
  width 100%
  height 100%
  overflow hidden

a
  color $color-blue
  text-decoration none
  &:hover
    color lighten($color-blue, 20%)
    text-decoration underline

*
  font-family "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif


#app
  display flex
  flex-direction column
  width 100%
  height 100%